<form [formGroup]="asistenciaForm" #nuevoAsistenciaGroup="ngForm"  class="container">
  <div class="row mt-3 d-flex align-items-CENTER align-self-center justify-content-center">
    <section class="row mt-3 d-flex align-items-center align-self-center justify-content-center">
      <h2 class="col-12 text-black-50 fw-bold text-center">Asistencia del Evento</h2>
    </section>

    <section class="row my-3  d-flex align-items-center align-self-center justify-content-center ">
      <span class="text-black-50 col-12 text-center">Todos los campos con <span class="text-danger">* </span> son
        requeridos</span>
    </section>

    <!-- asistencia  -->
  <div class="align-items-start justify-content-center col-12 col-sm-6 col-lg-3 ">
    <mat-form-field appearance="fill">
      <mat-label class="labelRegistro">Asistencia Auditorio</mat-label>
      <input required matInput formControlName="asistenciaAuditorio" name="asistenciaAuditorio" type="number"
        class="inputRegistro" min="0" step="1" placeholder="cantidad de personas en el auditorio">
      <mat-error
        *ngIf="asistenciaForm.get('asistenciaAuditorio')?.errors && asistenciaForm.get('asistenciaAuditorio')?.touched">
        <p *ngIf="asistenciaForm.get('asistenciaAuditorio')?.hasError" class="text-danger small text-left">
          *Es un Campo Requerido y debe ser un numero positivo
        </p>
      </mat-error>
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label class="labelRegistro">Asistencia Kids</mat-label>
      <input required matInput formControlName="asistenciaKids" name="asistenciaKids" type="number" class="inputRegistro">
      <mat-error *ngIf="asistenciaForm.get('asistenciaKids')?.errors && asistenciaForm.get('asistenciaKids')?.touched">
        <p *ngIf="asistenciaForm.get('asistenciaKids')?.hasError" class="text-danger small text-left">
          *Es un Campo Requerido y debe ser un numero positivo
        </p>
      </mat-error>
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label class="labelRegistro">Asistencia Tweens</mat-label>
      <input required matInput formControlName="asistenciaTweens" name="asistenciaTweens" type="number"
        class="inputRegistro" min="0" step="1">
      <mat-error *ngIf="asistenciaForm.get('asistenciaTweens')?.errors && asistenciaForm.get('asistenciaTweens')?.touched">
        <p *ngIf="asistenciaForm.get('asistenciaTweens')?.hasError" class="text-danger small text-left">
          *Es un Campo Requerido y debe ser un numero positivo
        </p>
      </mat-error>
    </mat-form-field>


    <mat-form-field appearance="fill">
      <mat-label class="labelRegistro">Asistencia Teens</mat-label>
      <input required matInput formControlName="asistenciaTeens" name="asistenciaTeens" type="number"
        class="inputRegistro" min="0" step="1">
      <mat-error *ngIf="asistenciaForm.get('asistenciaTeens')?.errors && asistenciaForm.get('asistenciaTeens')?.touched">
        <p *ngIf="asistenciaForm.get('asistenciaTeens')?.hasError" class="text-danger small text-left">
          *Es un Campo Requerido y debe ser un numero positivo
        </p>
      </mat-error>
    </mat-form-field>

  </div>

  <!-- servicio -->
  <div class="align-items-start justify-content-center col-12 col-sm-6 col-lg-3">

    <mat-form-field appearance="fill">
      <mat-label class="labelRegistro">Voluntarios Servicios</mat-label>
      <input required matInput formControlName="voluntariosServicios" name="voluntariosServicios" type="number"
        class="inputRegistro" min="0" step="1">
      <mat-error
        *ngIf="asistenciaForm.get('voluntariosServicios')?.errors && asistenciaForm.get('voluntariosServicios')?.touched">
        <p *ngIf="asistenciaForm.get('voluntariosServicios')?.hasError" class="text-danger small text-left">
          *Es un Campo Requerido y debe ser un numero positivo
        </p>
      </mat-error>
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label class="labelRegistro">Voluntarios Tecnica</mat-label>
      <input required matInput formControlName="voluntariosTecnica" name="voluntariosTecnica" type="number"
        class="inputRegistro" min="0" step="1">
      <mat-error
        *ngIf="asistenciaForm.get('voluntariosTecnica')?.errors && asistenciaForm.get('voluntariosTecnica')?.touched">
        <p *ngIf="asistenciaForm.get('voluntariosTecnica')?.hasError" class="text-danger small text-left">
          *Es un Campo Requerido y debe ser un numero positivo
        </p>
      </mat-error>
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label class="labelRegistro">Voluntarios Kids</mat-label>
      <input required matInput formControlName="voluntariosKids" name="voluntariosKids" type="number"
        class="inputRegistro" min="0" step="1">
      <mat-error *ngIf="asistenciaForm.get('voluntariosKids')?.errors && asistenciaForm.get('voluntariosKids')?.touched">
        <p *ngIf="asistenciaForm.get('voluntariosKids')?.hasError" class="text-danger small text-left">
          *Es un Campo Requerido y debe ser un numero positivo
        </p>
      </mat-error>
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label class="labelRegistro">Voluntarios Tweens</mat-label>
      <input required matInput formControlName="voluntariosTweens" name="voluntariosTweens" type="number"
        class="inputRegistro" min="0" step="1">
      <mat-error *ngIf="asistenciaForm.get('voluntariosTweens')?.errors && asistenciaForm.get('voluntariosTweens')?.touched">
        <p *ngIf="asistenciaForm.get('voluntariosTweens')?.hasError" class="text-danger small text-left">
          *Es un Campo Requerido y debe ser un numero positivo
        </p>
      </mat-error>
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label class="labelRegistro">Voluntarios Teens</mat-label>
      <input required matInput formControlName="voluntariosTeens" name="voluntariosTeens" type="number"
        class="inputRegistro" min="0" step="1">
      <mat-error *ngIf="asistenciaForm.get('voluntariosTeens')?.errors && asistenciaForm.get('voluntariosTeens')?.touched">
        <p *ngIf="asistenciaForm.get('voluntariosTeens')?.hasError" class="text-danger small text-left">
          *Es un Campo Requerido y debe ser un numero positivo
        </p>
      </mat-error>
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label class="labelRegistro">Voluntarios Info</mat-label>
      <input required matInput formControlName="voluntariosInfo" name="voluntariosInfo" type="number" class="inputRegistro"
        min="0" step="1">
      <mat-error *ngIf="asistenciaForm.get('voluntariosInfo')?.errors && asistenciaForm.get('voluntariosInfo')?.touched">
        <p *ngIf="asistenciaForm.get('voluntariosInfo')?.hasError" class="text-danger small text-left">
          *Es un Campo Requerido y debe ser un numero positivo
        </p>
      </mat-error>
    </mat-form-field>


  </div>


  <div class="align-items-start justify-content-center col-12 col-sm-6 col-lg-3">

    <mat-form-field appearance="fill">
      <mat-label class="labelRegistro">Worship</mat-label>
      <input required matInput formControlName="voluntariosWorship" name="voluntariosWorship" type="number"
        class="inputRegistro" min="0" step="1">
      <mat-error
        *ngIf="asistenciaForm.get('voluntariosWorship')?.errors && asistenciaForm.get('voluntariosWorship')?.touched">
        <p *ngIf="asistenciaForm.get('voluntariosWorship')?.hasError" class="text-danger small text-left">
          *Es un Campo Requerido y debe ser un numero positivo
        </p>
      </mat-error>
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label class="labelRegistro">Voluntarios Cocina</mat-label>
      <input required matInput formControlName="voluntariosCocina" name="voluntariosCocina" type="number"
        class="inputRegistro" min="0" step="1">
      <mat-error
        *ngIf="asistenciaForm.get('voluntariosCocina')?.errors && asistenciaForm.get('voluntariosCocina')?.touched">
        <p *ngIf="asistenciaForm.get('voluntariosCocina')?.hasError" class="text-danger small text-left">
          *Es un Campo Requerido y debe ser un numero positivo
        </p>
      </mat-error>
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label class="labelRegistro">Voluntarios Redes Sociales</mat-label>
      <input required matInput formControlName="voluntariosRedesSociales" name="voluntariosRedesSociales" type="number"
        class="inputRegistro" min="0" step="1">
      <mat-error
        *ngIf="asistenciaForm.get('voluntariosRedesSociales')?.errors && asistenciaForm.get('voluntariosRedesSociales')?.touched">
        <p *ngIf="asistenciaForm.get('voluntariosRedesSociales')?.hasError" class="text-danger small text-left">
          *Es un Campo Requerido y debe ser un numero positivo
        </p>
      </mat-error>
    </mat-form-field>

    <mat-divider></mat-divider>

    <mat-form-field appearance="fill">
      <mat-label class="labelRegistro">Autos</mat-label>
      <input required matInput formControlName="autos" name="autos" type="number"
        class="inputRegistro" min="0" step="1">
      <mat-error
        *ngIf="asistenciaForm.get('autos')?.errors && asistenciaForm.get('autos')?.touched">
        <p *ngIf="asistenciaForm.get('autos')?.hasError" class="text-danger small text-left">
          *Es un Campo Requerido y debe ser un numero positivo
        </p>
      </mat-error>
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label class="labelRegistro">Motos</mat-label>
      <input required matInput formControlName="motos" name="motos" type="number"
        class="inputRegistro" min="0" step="1">
      <mat-error
        *ngIf="asistenciaForm.get('motos')?.errors && asistenciaForm.get('motos')?.touched">
        <p *ngIf="asistenciaForm.get('motos')?.hasError" class="text-danger small text-left">
          *Es un Campo Requerido y debe ser un numero positivo
        </p>
      </mat-error>
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label class="labelRegistro">Bicicletas</mat-label>
      <input required matInput formControlName="bicicletas" name="bicicletas" type="number"
        class="inputRegistro" min="0" step="1">
      <mat-error
        *ngIf="asistenciaForm.get('bicicletas')?.errors && asistenciaForm.get('bicicletas')?.touched">
        <p *ngIf="asistenciaForm.get('bicicletas')?.hasError" class="text-danger small text-left">
          *Es un Campo Requerido y debe ser un numero positivo
        </p>
      </mat-error>
    </mat-form-field>

  </div>

  </div>

</form>
