<div class="container">
<mat-toolbar class ="row text-center" >
  <span>Registro de Eventos AR Ministries</span>
  <span class="spacer"></span>

</mat-toolbar>
<span class="spacer"></span>

<div class="my-3">
  <!-- datos eventos -->
  <mat-stepper  #stepper>
    <mat-step [stepControl]="dataEventForm" class="justify-content-center" labelPosition="bottom">
      <ng-template matStepLabel>Datos Evento</ng-template>
      <app-event [dataEventForm]="dataEventForm" [nuevoEventGroup] = "nuevoEventGroup"
      (envioHorario)="recibirHora($event)"
      (envioDescripcion)="recibirDescrip($event)"
      (envioTipoEvento)="recibirTipoEvento($event)"
      (envioTipoCampus)="recibirTipoCampus($event)"
      ></app-event>

      <div class="d-flex justify-content-between">
        <div class="float-start"></div>

        <button class="float-end" mat-raised-button color="primary" matStepperNext>Siguiente
        </button>
      </div>
    </mat-step>

    <!-- responsables del evento -->
    <mat-step [stepControl]="asistenciaForm" class="justify-content-center" labelPosition="bottom"
    *ngIf="validarTipoEvento()">
      <ng-template matStepLabel>Responsables</ng-template>

      <app-responsible [responsibleForm]="responsibleForm" [nuevoResponsibleGroup]="nuevoResponsibleGroup"
      [EventoTipo] = "EventoTipo"
      [CampusTipo]="CampusTipo"></app-responsible>
      <div class="d-flex justify-content-between">
        <button class="float-end" mat-raised-button color="primary" matStepperPrevious>Anterior
        </button>

        <button class="float-end" mat-raised-button color="primary" matStepperNext
          (click)="calculosTotalesAsistencias()">Siguiente
        </button>
      </div>
    </mat-step>

    <!-- asitencias -->
    <mat-step [stepControl]="asistenciaForm" class="justify-content-center" labelPosition="bottom"
    *ngIf="validarTipoEvento()">
      <ng-template matStepLabel>Asistencia</ng-template>

      <app-asistencia [asistenciaForm]="asistenciaForm"
      [nuevoAsistenciaGroup] = "nuevoAsistenciaGroup"></app-asistencia>
      <div class="d-flex justify-content-between">
        <button class="float-end" mat-raised-button color="primary" matStepperPrevious>Anterior
        </button>

        <button class="float-end" mat-raised-button color="primary" matStepperNext
          (click)="calculosTotalesAsistencias()">Siguiente
        </button>
      </div>
    </mat-step>

    <!-- Seguidores nuevos -->
    <mat-step [stepControl]="followerForm" class="justify-content-center" labelPosition="bottom">
      <ng-template matStepLabel>Seguidores</ng-template>

      <app-follower [followerForm]="followerForm" [nuevoFollowerGroup]="nuevoFollowerGroup"
        [totalAsistentes]="totalAsistentes"
        [totalGeneral] = "totalGeneral"
        [totalVehiculos] = "totalVehiculos"
        [EventoTipo] = "EventoTipo"
        ></app-follower>
      <div class="d-flex justify-content-between">
        <button class="float-end" mat-raised-button color="primary" matStepperPrevious>Anterior
        </button>

        <button class="float-end" (click)="sendForm()" (click)="stepper.reset()" mat-raised-button color="primary">Enviar
        </button>
      </div>
    </mat-step>

  </mat-stepper>
</div>
</div>
