<div class="contenedor">
<mat-card class="form-main">
  <div>
    <img src="../../assets/img/logo login.jpeg" alt='logo' style="max-width: 80%" />
  </div>
  <mat-card-content style="margin-top: 5%">
    <form [formGroup]="loginForm" (ngSubmit)="login($event)">
      <div>
        <mat-form-field appearance="fill">
          <mat-label class="labelLogin">Email: </mat-label>
          <input required matInput type="text" name="email" formControlName="email"
          style="margin-left:2%;">
        </mat-form-field>
      </div>
      <div style="margin-top: 5%;">
        <mat-form-field appearance="fill" >
          <mat-label class="labelLogin">Password: </mat-label>
          <input required matInput type="password" name="password" formControlName="password"
          style="margin-left:2%;">
        </mat-form-field>
      </div>
      <div >
        <button class="btnLogin" type="submit" [disabled]="valido">Iniciar Sesión</button>
      </div>

    </form>
  </mat-card-content>
</mat-card>
</div>
<!-- Recordatorio: el width del form-main en pantallas pequeñas debe ser del 100% en celulares y del 60 o 80% en pantallas medianas
tambien el margin-top de los input se debe modificar por pantallas.  -->
