.contenedor{
  display: flex;
  align-items: center;
  justify-content: center;
}

.form-main {
  min-width: 35%;
  width: 80%;
  margin-top: 5%;
  background-color: var(--color_complementario_2);
  text-align: center;
  border-radius: 4px;
  box-shadow: -2px 2px 10px 2px #8F8F8F;
  }

.btnLogin{
  min-width: 20%;
  width: 40%;
  margin-top: 5%;
  text-align: center;
  border: solid 0px;
  color:  var(--color_complementario_2);
  font-size: 16px;
  background-color: var(--color_principal_1);
  padding: 8px 10px;
  min-width: 20%;
  border-radius: 10px;
  box-shadow: 2px 1px 1px 1px rgba(0, 0, 0, 0.61)
}
.btnLogin:hover{
  background-color: var(--color_secundario_1);
  cursor: pointer;
}
.btnLogin:disabled{
  background-color: var(--color_principal_2);
  cursor: not-allowed;
}

mat-card {
  min-width: 400px;
  max-width: 600px;
  margin: 2em auto;
  text-align: center;
}

mat-form-field {
  display: block;
}

.labelLogin{
  color: var(--color_complementario_1);
  margin-left: 2%;
}
