<form [formGroup]="dataEventForm" #nuevoEventGroup="ngForm">
  <div class="row mt-3 d-flex align-items-center align-self-center justify-content-center">
    <section class="row mt-3 d-flex  align-items-center align-self-center justify-content-center">
      <h2 class="col-12 text-black-50 fw-bold text-center">Datos Básicos del Evento</h2>
    </section>
    <section class="row d-flex  align-items-center align-self-center justify-content-center">
      <div class="col-12">
        <mat-divider></mat-divider>
      </div>
    </section>
    <section class="row my-3  d-flex align-items-center align-self-center justify-content-center">
      <span class="text-black-50 col-12 text-center">Todos los campos con <span class="text-danger">* </span> son
        requeridos</span>
    </section>

    <div class="row d-flex align-items-center align-self-center justify-content-center">

      <mat-form-field appearance="fill" class="col-md-6 col-ms-12 col-lg-4">
        <mat-label class="labelRegistroFecha">Fecha</mat-label>
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
        <input required matInput formControlName="fecha" name="fecha" class="inputRegistroFecha" [matDatepicker]="picker">

        <mat-error *ngIf="dataEventForm.get('fecha')?.errors && dataEventForm.get('fecha')?.touched">
          <p *ngIf="dataEventForm.get('fecha')?.hasError" class="text-danger small text-left">
            *Es un Campo Requerido
          </p>
        </mat-error>
      </mat-form-field>

      <mat-form-field appearance="fill" class="col-md-6 col-ms-12 col-lg-4">
        <mat-label class="labelRegistro">Hora</mat-label>
        <mat-select matInput required formControlName="hora" name="hora" class="SelectRegistro">
          <mat-option *ngFor="let item of listaHorario" [value]="item.hora" class="optionRegistro">
            {{item.hora}}
          </mat-option>
        </mat-select>
        <mat-error *ngIf="dataEventForm.get('hora')?.errors && dataEventForm.get('hora')?.touched">
          <p *ngIf="dataEventForm.get('hora')?.hasError" class="text-danger small text-left">
            *Es un Campo Requerido
          </p>
        </mat-error>
      </mat-form-field>

      <mat-form-field appearance="fill" *ngIf="valorHora()" class="col-md-6 col-ms-12 col-lg-4">
        <mat-label class="labelRegistro">Horario</mat-label>
        <input required matInput name="horario" type="text" (keyup)="recepcionHorario($event)" class="inputRegistro">
      </mat-form-field>

      <mat-form-field appearance="fill" class="col-md-6 col-ms-12 col-lg-4">
        <mat-label class="labelRegistro" for="tipoEvento">Tipo de Evento</mat-label>
        <mat-select matInput required formControlName="tipoEvento" name="tipoEvento" class="SelectRegistro">
          <mat-option *ngFor="let item of tipoEvento" [value]="item.evento" class="optionRegistro"
          (click)="selectTipoEvent(item.evento)">
            {{item.evento}}
          </mat-option>
        </mat-select>
        <mat-error *ngIf="dataEventForm.get('tipoEvento')?.errors && dataEventForm.get('tipoEvento')?.touched">
          <p *ngIf="dataEventForm.get('tipoEvento')?.hasError" class="text-danger small text-left">
            *Es un Campo Requerido
          </p>
        </mat-error>
      </mat-form-field>

      <mat-form-field appearance="fill" *ngIf="valorJunta()" class="col-md-6 col-ms-12 col-lg-4">
        <mat-label class="labelRegistro">Descripción</mat-label>
        <input matInput name="descripcion" type="text" formControlName="descripcion">
          <mat-error *ngIf="dataEventForm.get('descripcion')?.errors && dataEventForm.get('descripcion')?.touched">
            <p *ngIf="dataEventForm.get('descripcion')?.hasError" class="text-danger small text-left">
              *Es un Campo Requerido
            </p>
          </mat-error>
      </mat-form-field>

      <mat-form-field appearance="fill" class="col-md-6 col-ms-12 col-lg-4" *ngIf="validarTipoEvento()">
        <mat-label class="labelRegistro">Campus</mat-label>
        <mat-select formControlName="campus" name="campus" class="SelectRegistro">
          <mat-option *ngFor="let item of listaCampus" [value]="item.campus " class="optionRegistro"
          (click)="selectTipoCampus(item.campus)">
            {{item.campus}}
          </mat-option>
        </mat-select>
        <mat-error *ngIf="dataEventForm.get('campus')?.errors && dataEventForm.get('campus')?.touched">
          <p *ngIf="dataEventForm.get('campus')?.hasError" class="text-danger small text-left">
            *Es un Campo Requerido
          </p>
        </mat-error>
      </mat-form-field>

    </div>

  </div>

</form>

