<form [formGroup]="responsibleForm" #nuevoResponsibleGroup="ngForm">
  <div class="row mt-3 d-flex align-items-center align-self-center justify-content-center">
    <section class="row mt-3 d-flex  align-items-center align-self-center justify-content-center">
      <h2 class="col-12 text-black-50 fw-bold text-center">Responsables del Evento</h2>
    </section>
    <section class="row d-flex  align-items-center align-self-center justify-content-center">
      <div class="col-12">
        <mat-divider></mat-divider>
      </div>
    </section>
    <section class="row my-3  d-flex align-items-center align-self-center justify-content-center">
      <span class="text-black-50 col-12 text-center">Todos los campos con <span class="text-danger">* </span> son
        requeridos</span>
    </section>

    <div class="row d-flex align-items-center align-self-center justify-content-center">


      <mat-form-field appearance="fill" class="col-md-6 col-ms-12">
        <mat-label class="labelRegistro">Lideres Voluntarios</mat-label>
        <mat-select required formControlName="lideresVoluntarios" name="lideresVoluntarios" class="SelectRegistro">
          <mat-option *ngFor="let item of lideresVoluntario" [value]="item.nombres" class="optionRegistro">
            {{item.nombres}}
          </mat-option>
        </mat-select>
        <mat-error
          *ngIf="responsibleForm.get('lideresVoluntarios')?.errors && responsibleForm.get('lideresVoluntarios')?.touched">
          <p *ngIf="responsibleForm.get('lideresVoluntarios')?.hasError" class="text-danger small text-left">
            *Es un Campo Requerido
          </p>
        </mat-error>
      </mat-form-field>

      <mat-form-field appearance="fill" class="col-md-6 col-ms-12">
        <mat-label class="labelRegistro">Administradores de Campus</mat-label>
        <mat-select required formControlName="administradores" name="administradores" class="SelectRegistro">
          <mat-option *ngFor="let item of administradores" [value]="item.nombres" class="optionRegistro">
            {{item.nombres}}
          </mat-option>
        </mat-select>
        <mat-error
          *ngIf="responsibleForm.get('administradores')?.errors && responsibleForm.get('administradores')?.touched">
          <p *ngIf="responsibleForm.get('administradores')?.hasError" class="text-danger small text-left">
            *Es un Campo Requerido
          </p>
        </mat-error>
      </mat-form-field>

      <mat-form-field appearance="fill" class="col-md-6 col-ms-12" *ngIf="validarDirector()">
        <mat-label class="labelRegistro">Directores de Campus</mat-label>
        <mat-select formControlName="directores" name="directores" class="SelectRegistro">
          <mat-option *ngFor="let item of directores" [value]="item.nombres" class="optionRegistro">
            {{item.nombres}}
          </mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field appearance="fill" class="col-md-6 col-ms-12"  *ngIf="validadPredicador()">
        <mat-label class="labelRegistro">Predicador</mat-label>
        <input matInput  formControlName="predicador" name="predicador">
        <mat-error *ngIf="responsibleForm.get('predicador')?.errors && responsibleForm.get('predicador')?.touched">
          <p *ngIf="responsibleForm.get('predicador')?.hasError" class="text-danger small text-left">
            *Es un Campo Requerido
          </p>
        </mat-error>
      </mat-form-field>

      <mat-form-field appearance="fill" class="col-md-6 col-ms-12"  *ngIf="validarMensaje()">
        <mat-label class="labelRegistro">Titulo del Mensaje</mat-label>
        <input matInput  formControlName="tituloMensaje" name="tituloMensaje">
        <mat-error *ngIf="responsibleForm.get('tituloMensaje')?.errors && responsibleForm.get('tituloMensaje')?.touched">
          <p *ngIf="responsibleForm.get('tituloMensaje')?.hasError" class="text-danger small text-left">
            *Es un Campo Requerido
          </p>
        </mat-error>
      </mat-form-field>

    </div>

  </div>

</form>
