.example-container {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
  }

  .example-sidenav-container {
    flex: 1;
  }

  .example-spacer {
    flex: 1 1 auto;
  }
.mat-drawer-container{
    background-color: var(--color_principal_2);
}

.mat-toolbar.mat-primary{
    background-color: var(--color_complementario_1);
    color: var(--color_principal_2);
}

.mat-drawer{
  background-color: var(--color_complementario_1);
    color: var(--color_principal_2);
}
