<div class="example-container" style=" background-color: var(--color_principal_2);">
  <mat-toolbar color="primary" class="example-toolbar">
    <button mat-icon-button (click)="sidenav.toggle()">
      <mat-icon *ngIf="!sidenav.opened">menu</mat-icon>
      <mat-icon *ngIf="sidenav.opened">close</mat-icon>
    </button>

    <h1 class="example-app-name">AR Ministries</h1>

    <span class="example-spacer"></span>

    <button mat-icon-button [matMenuTriggerFor]="menu">
      <mat-icon>more_vert</mat-icon>
    </button>

    <mat-menu #menu="matMenu">
      <button mat-menu-item routerLink="/perfil">
        <mat-icon>account_box</mat-icon>
        <span>Mi Perfil</span>
      </button>
      <button mat-menu-item (click)="sidenav.opened = false" >
        <mat-icon>exit_to_app</mat-icon>
        <span (click)="cerrarSession()">Cerrar Sesión</span>
      </button>
    </mat-menu>
  </mat-toolbar>

  <mat-sidenav-container class="example-sidenav-container">
    <mat-sidenav #sidenav style="width: 200px" mode="over">
      <img src="../../../assets/img/logo.jpeg" width="128" style="margin-left: 20px">

      <div *ngFor="let m of menus">
        <button mat-menu-item (click)="sidenav.toggle()" routerLink="{{m.link}}" style="cursor: pointer">
          <mat-icon class="text-white">{{m.icon}}</mat-icon>
          <span class="text-white">{{m.linkTitle}}</span>
        </button>
        <mat-divider></mat-divider>
      </div>
    </mat-sidenav>

    <mat-sidenav-content>
      <router-outlet></router-outlet>
    </mat-sidenav-content>

  </mat-sidenav-container>

</div>
