<form [formGroup]="followerForm" #nuevoFollowerGroup="ngForm" class="container">
  <div class="row mt-3 d-flex align-items-center align-self-center justify-content-center">
    <section class="row mt-3 d-flex  align-items-center align-self-center justify-content-center">
      <h2 class="col-12 text-black-50 fw-bold text-center">Nuevos Seguidores de Jesús en el Evento</h2>
    </section>

    <section class="row my-3 d-flex  align-items-center align-self-center justify-content-center ">
      <span class="text-black-50 col-12 text-center">Todos los campos con <span class="text-danger">* </span> son
        requeridos</span>
    </section>


    <div class="row d-flex  align-items-center align-self-center justify-content-center">

      <mat-form-field appearance="fill" class="col-12 col-sm-6" *ngIf="validarTipoEvento()">
        <mat-label class="labelRegistro">Aceptan Jesús Presencial</mat-label>
        <input required matInput formControlName="personasAceptanJesusPresencial" name="personasAceptanJesusPresencial"
          type="number" class="inputRegistro" min="0" step="1">
        <mat-error
          *ngIf="followerForm.get('personasAceptanJesusPresencial')?.errors && followerForm.get('personasAceptanJesusPresencial')?.touched">
          <p *ngIf="followerForm.get('personasAceptanJesusPresencial')?.hasError" class="text-danger small text-left">
            *Es un Campo Requerido y debe ser un numero positivo
          </p>
        </mat-error>
      </mat-form-field>

      <mat-form-field appearance="fill" class="col-12 col-sm-6">
        <mat-label class="labelRegistro">Aceptan Jesús Online</mat-label>
        <input required matInput formControlName="personasAceptanJesusOnline" name="personasAceptanJesusOnline"
          type="number" class="inputRegistro" min="0" step="1">
        <mat-error
          *ngIf="followerForm.get('personasAceptanJesusOnline')?.errors && followerForm.get('personasAceptanJesusOnline')?.touched">
          <p *ngIf="followerForm.get('personasAceptanJesusOnline')?.hasError" class="text-danger small text-left">
            *Es un Campo Requerido y debe ser un numero positivo
          </p>
        </mat-error>
      </mat-form-field>

      </div>
      <div class="row d-flex  align-items-center align-self-center justify-content-center"
      *ngIf="validarTipoEvento()">
      <mat-divider></mat-divider>
      <h3>Resumenes</h3>

      <mat-form-field appearance="fill" class="col-12 col-sm-4">
        <mat-label class="labelRegistro">Total Asistentes</mat-label>
        <input required matInput  name="totalAsistentes" type="number" [value]="totalAsistentes"
          [disabled]="disabled"
          class="inputRegistro">
      </mat-form-field>

      <mat-form-field appearance="fill" class="col-12 col-sm-4">
        <mat-label class="labelRegistro">Total General</mat-label>
        <input required matInput  name="totalGeneral" type="number" [value] = "totalGeneral"
          [disabled]="disabled"
          class="inputRegistro" >
      </mat-form-field>

      <mat-form-field appearance="fill" class="col-12 col-sm-4">
        <mat-label class="labelRegistro">Total Vehiculos</mat-label>
        <input required matInput name="totalVehiculos" type="number" [value]="totalVehiculos"
          [disabled]="disabled"
          class="inputRegistro">
      </mat-form-field>

    </div>

  </div>

</form>
