html, body {
  width: 100%;
  height: 100%;
  margin: 0;
  background-color: #F3EEE8;
}

body {
  width: 100%;
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  background-color: #F3EEE8;
}

.mat-select-value{
  color: #343434;
}
.mat-option-text{
  color: #343434;
}

.mat-option-text:hover{
  background-color: #F3EEE8;
}

.mat-select-panel .mat-option.mat-selected:not(.mat-option-multiple){
  color: #343434;
  background-color: #F3EEE8;
}

:root{
--color_principal_1: #E17B5F;
--color_principal_2: #F3EEE8;

--color_secundario_1: #77909A;
--color_secundario_2: #428D73;

--color_complementario_1: #343434;
--color_complementario_2: #FFFFFF;
}
